---
import Nav from '../components/Nav.astro'
import Header from '../components/Header.astro'
import {ViewTransitions} from 'astro:transitions'
const {pageTitle} = Astro.props
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zac Site  {pageTitle}</title>
    <ViewTransitions />
</head>
<body>
    <Nav logo="連成電腦" />
    <Header myTitle="Im Zac" />
    <slot />
</body>
</html>