---
import Master from '../layouts/Master.astro'
import { slide } from 'astro:transitions';
const {frontmatter} = Astro.props
---
<Master pageTitle={frontmatter.title}>
   <h2>{frontmatter.title}</h2>
   <div transition:animate={slide({ duration: '1s' })}>發布日期{frontmatter.pubDate}</div>
   <slot /> 
   <a href="/">返回</a>
</Master>